@charset "UTF-8";
/* CSS Document */


@font-face {
    font-family:"Avenir Medium";
    src:url(typefaces/Avenir-Medium.ttf) format("truetype");
}
@font-face {
    font-family:"Avenir Black";
    src:url(typefaces/Avenir-Black.ttf) format("truetype");
}
@font-face {
    font-family:"Avenir Book";
    src:url(typefaces/Avenir-Book.ttf) format("truetype");
}

#sketch-div 
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}


html, body
{
	width: 100vw;
	height: 100vh;
	margin: 0;	
	font-size: 15px;
	text-align: left;
	font-family: 'Avenir Medium';
	display: inline-block;
	color:black;
	overflow: hidden;
	
}

b
{
	font-family: 'Avenir Black';
}

em
{
	font-family: 'Avenir Book';

}

span
{
	color: black;
	
}

a
{
	text-decoration: none;
	color:cadetblue;
	cursor: pointer;
	font-family: 'Avenir Book';
}


#container 
{
/*	position: absolute;*/
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 100%; 
	overflow: hidden;
}

#header
{
	background-color: white;
	width: 100%;
	height: 50px;
	padding-top: 27px;
	float: left;
	border-bottom: solid;
	border-color: black;
	border-width: 4px;
	padding-left: 20px;
	padding-right: 20px;
	
}

#logo
{
	margin-top: -7px;
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: black;	
}

#logoPic
{
	width: 40px;
	height: 40px;
}

#goldsmiths
{
	position: absolute;
	margin-top: 15px;
	margin-left: 50px;
	width: 700px;
	height: 50px;
	float: left;
	font-size: 12px;
	font-family: 'Avenir Medium';
}

#title
{
	position: absolute;
	margin-top: -8px;
	margin-left: 50px;
	width: 700px;
	height: 50px;
	float: left;
	font-size: 16px;
	font-family: 'Avenir Black';
}

#link
{
	font-size: 15px;
}

#schedule 
{
	position: absolute;
	width: 380px;
	height: 605px;
	float: left;
	font-size: 25px;
	margin-left: 25px;
	margin-right: 0px;
	margin-top: 120px;
	border-right: solid;
	border-color: gray;
	border-width: 1px;

}

#date
{
	font-size: 15px;
	margin-top: 22px;
	margin-bottom: 24px;
}

#times
{
	font-size: 15px;
	line-height: 50%;
	margin-right: 10px;
	float: left;
	font-family: 'Avenir Black';
}

#presenters
{
	font-size: 15px;
	line-height: 50%;
	float: left;
	margin-left: 30px;
	
}

#artists
{
	position: relative;
	margin-top: 100px;
	margin-left: 450px;
	width: 725px;
	height: 540px;
	float: left;
	color: black;
	font-size: 30px;
	font-family: 'Avenir Black';
	overflow: scroll;
	border-bottom: solid;
	border-color: lightgray;
	border-width: 1px;
/*	box-shadow: inset 0px -6px 6px -6px lightgray ;*/
	
}



#images
{
	position: relative;
	width: 100px;
	height: 1800px;
	margin-right: 20px;
	float:left;
}

img
{
	position: relative;
	width: 100px;
	height: 100px;
	float:left;
	
}

#twitch
{
	background-image: url(thumbs/twitchLogo.png);
	background-size: contain;
	background-repeat: no-repeat;
	float: right;
	margin-right: 45px;
	margin-top: 13px;
	width: 70px;
	height: 70px;
}

.thumb
{
	position: relative;
	font-size: 15px;
	width: 500px;
	height: 100px;
	margin-bottom: 30px;
	float: left;
	font-family: "Avenir Medium";
}

#artistsTitle
{
	position: absolute;
	margin-top: 120px;
	margin-left: 620px;
	margin-bottom: 20px;
	height: 50px;
	float:left;
	font-size: 25px;
	font-family: 'Avenir Black';
	cursor: default;
	
}

#livestreamTitle
{
	position: absolute;
	margin-top: 120px;
	margin-left: 450px;
	width: 200px;
	height: 50px;
	float: left;
	font-size: 25px;
	font-family: 'Avenir Black';
	cursor: default;
	
}

#livestream
{
	width: 722px;
	height: 540px;
	position: absolute;
	margin-top: 180px;
	margin-left: 450px;
	float: left;
	font-size: 30px;
	font-family: 'Avenir Black';
	overflow: scroll;
/*
	border-bottom: solid;
	border-width: 1px;
	border-color: lightgray;
*/
}



.tabOff
{
	opacity: 33%;
}
.tabOn
{
	opacity: 100%;
}

.hide
{
	display: none;
}

.show
{
	display: block;
}

.imageClass
{
	position: relative;
	float: left;
	margin-bottom: 30px;
}

#baqi
{
	margin-bottom: 110px;
}

#baqiImage
{
	position: relative;
	float: left;
	margin-bottom: 110px;
}

#batool
{
	margin-bottom: 110px;
}
#batoolImage
{
	position: relative;
	float: left;
	margin-bottom: 110px;
}

#becky
{
}

#beckyImage
{
	position: relative;
	float: left;
}

#daniah
{
	
}

#dongyuan
{
	margin-bottom: 150px;
}
#dongyuanImage
{
	position: relative;
	float: left;
	margin-bottom: 150px;
}

#williams
{
	margin-bottom: 10px;
}

#williamsImage
{
	position: relative;
	float: left;
	margin-bottom: 10px;
}


#shuai
{
 
}

#shuaiImage
{
 
}

#ziwei
{
	margin-bottom: 310px;
}

#ziweiImage
{
	position: relative;
	float: left;
	margin-bottom: 310px;
}

#keita
{

}

@media only screen and (max-width: 1200px) {
	
	#header
{
	background-color: white;
	width: 100vw;
	height: 50px;
	padding-top: 27px;
	float: left;
	border-bottom: solid;
	border-color: black;
	border-width: 4px;
	padding-left: 20px;
	padding-right: 20px;
	
}
}

@media only screen and (max-width: 480px) {
	
	
#sketch-div 
{
	position:absolute;
 	margin-left: -9px;
	margin-top: -13px;
 	width:100%;
 	height:100%;
 	z-index:-1;
}

html, body
{
	
	width: 100%;
	height: auto;
	max-width: 100%;
	margin: 0;	
	font-size: 15px;
	text-align: left;
	font-family: 'Avenir Medium';
	display: inline-block;
	color:black;
	overflow-x: auto;
	
}
	
	#twitch
{
	background-image: url(thumbs/twitchLogo.png);
	background-size: contain;
	background-repeat: no-repeat;
	float: right;
	margin-right: 20px;
	margin-top: 13px;
	width: 70px;
	height: 70px;
	display: none;
}
	
	em
{
	font-family: 'Avenir Book';

}
	
a
{
	text-decoration: none;
	color:cadetblue;
	cursor: pointer;
}

b
{
	font-family: 'Avenir Black';
}

span
{
/*	color: gray*/
/*	opacity: 50%;*/
}

#container 
{
	
/*	position: absolute;*/
	
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto; 
}

#header
{
	background-color: white;
	width: 100%;
	height: 50px;
	padding-top: 27px;
	float: left;
	border-bottom: solid;
	border-color: black;
	border-width: 4px;
	padding-left: 10px;
	padding-right: 10px;
	
}

#logo
{
	margin-top: -7px;
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: black;	
}

#logoPic
{
	width: 40px;
	height: 40px;
}

#goldsmiths
{
	position: relative;
	margin-top: 15px;
	margin-left: 50px;
	width: 270px;
	height: 50px;
	float: left;
	font-size: 12px;
	font-family: 'Avenir Medium';
}

#title
{
	position: absolute;
	margin-top: -8px;
	margin-left: 50px;
	width: 270px;
	height: 50px;
	float: left;
	font-size: 16px;
	font-family: 'Avenir Black';
}

#link
{
	font-size: 15px;
}

#schedule 
{
	position: relative;
	width: 355px;
	height: 620px;
	float: left;
	font-size: 25px;
	margin-left: 10px;
	margin-right: 0px;
	margin-top: 310px;
	border-right: none;
	border-bottom: solid;
	border-width: 1px;
	border-color: lightgray;
	font-family: 'Avenir Medium';

}

#date
{
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#times
{
	font-size: 15px;
	line-height: 50%;
	margin-right: 10px;
	float: left;
	font-family: 'Avenir Black';
}

#presenters
{
	font-size: 15px;
	line-height: 50%;
	float: left;
	margin-left: 15px;
	
}

#artists
{
	position: relative;
	margin-top: 90px;
	margin-left: 10px;
	width: 500px;
	height: 2500px;
	float: left;
	color: black;
	font-size: 30px;
	font-family: 'Avenir Black';
	word-wrap: break-word;
	overflow: auto;
/*
	border-bottom: solid;
	border-color: lightgray;
	border-width: 1px;
*/
	box-shadow: none;
	display: block;
	
}



#images
{
	position: relative;
	width: 40px;
	height: 2500px;
	margin-right: 15px;
	float:left;
/*	display: none;*/
}

img
{
	position: relative;
	width: 40px;
	height: 40px;
	float:left;
	
}

.thumb
{
	position: relative;
	font-size: 15px;
	width: 300px;
	height: 100px;
	margin-bottom: 30px;
	float: left;
	word-wrap: break-word;
	font-family: "Avenir Medium";
}

#artistsTitle
{
	position: absolute;
	margin-top: 1040px;
	margin-left: 10px;
	margin-bottom: 0px;
	height: 50px;
	float:left;
	font-size: 25px;
	font-family: 'Avenir Black';
	cursor: default;
	
}

#livestreamTitle
{
	position: absolute;
	margin-top: 100px;
	margin-left: 10px;
	width: 200px;
	height: 50px;
	float: left;
	font-size: 25px;
	font-family: 'Avenir Black';
	cursor: default;
	
}

#livestream
{
	width: calc(100% - 20px);
	height: 220px;
	position: absolute;
	margin-top: 145px;
	margin-left: 10px;
	margin-bottom: 0px;
	float: left;
	font-size: 30px;
	font-family: 'Avenir Black';
	border-bottom: solid;
	border-color: lightgray;
	border-width: 1px;
}
	
iframe
{
	width: 100%;
	height: 440px;
}
	


.tabOff
{
	opacity: 100%;
}
.tabOn
{
	opacity: 100%;
}

.hide
{
	display: block;
}

.show
{
	display: block;
}

.imageClass
{
	position: relative;
	float: left;
	margin-bottom: 30px;
}

#becky
{
	margin-bottom: 58px;
}

#beckyImage
{
	position: relative;
	float: left;
	margin-bottom: 121px;
}

#daniah
{
	margin-bottom: 0px;
}

#daniahImage
{
	position: relative;
	float: left;
	margin-bottom: 57px;
}
	

#keita
{
	margin-bottom: 0px;
}


#keitaImage
{
	position: relative;
	float: left;
	margin-bottom: 57px;
}
	
#dongyuan
{
	margin-bottom: 290px;
}
	
#dongyuanImage
{
	position: relative;
	float: left;
	margin-bottom: 353px;
}
	
#batool
{
	margin-bottom: 270px;
}
#batoolImage
{
	position: relative;
	float: left;
	margin-bottom: 332px;
}
	
#ziwei
{
	margin-bottom: 600px;
}
	
#ziweiImage
{
	position: relative;
	float: left;
	margin-bottom: 660px;
}
	
#shuai
{
	margin-bottom: 40px;
}
	
#shuaiImage
{
	position: relative;
	float: left;
	margin-bottom: 100px;
}
	
#baqi
{
	margin-bottom: 225px;
}
	
#baqiImage
{
	position: relative;
	float: left;
	margin-bottom: 285px;
}


#williams
{

}
	

#williamsImage
{

}



}